{% extends 'base.html' %}
{% block title %}Articles{% endblock %}
{% block content %}
{% load static %}
<div class="hero-wrap js-fullheight"  data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate">
                    <h2 class="subheading">Hello! Welcome to</h2>
                    <h1 class="mb-4 mb-md-0" style="font-size: 50px;">Bloggypanda</h1>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="text">
                                <p>We are a group of people who believes in the power of words. As we are soon to be engineering gradutes, we thought of coming up with this new platform to share our thoughts. So, here we are with our wide range of blogs covering both technical and non-technical contents. We entertain; we educate. Join hands with us to learn and know more!</p>
                                <div class="mouse">
                                    <a href="#" class="mouse-icon">
                                        <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row d-flex">
                {% for post in blog %}
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="{{post.get_absolute_url}}" class="block-20" style="background-image: url({{post.image.url}});background-size:contain;">
                        </a>
                        <div class="text p-4 float-right d-block">
                            <div class="topper d-flex align-items-center">
                                <div class="one py-2 pl-3 pr-1 align-self-stretch">
                                    <span class="day">{{post.publishdate.day}}</span>
                                </div>
                                <div class="two pl-0 pr-3 py-2 align-self-stretch">
                                    <span class="yr">{{post.publishdate.year}}</span>
                                    <span class="mos">{{post.publishdate}}</span>
                                </div>
                            </div>
                            <h3 class="heading mb-3"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                            <p>{{post.overview}}</p>
                            <p><a href="{{post.get_absolute_url}}" class="btn-custom"><span class="ion-ios-arrow-round-forward mr-3"></span>Read more</a></p>
                        </div>
                    </div>
                </div>  
                {% endfor %}            
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                  <div class="block-27">
                    <ul>
                      {% if blog.has_previous %}
                      <li><a href="?{{page_request_var}}={{blog.previous_page_number}}">&lt;</a></li>
                      {% endif %}
                      <li class="active"><span>{{blog.number}}</span></li>
                      {% if blog.has_next %}
                      <li><a href="?{{page_request_var}}={{blog.next_page_number}}">&gt;</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
        </div>
    </section>

    
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

{% endblock %}

